SUBSYSTEM=="backlight", ACTION=="add", KERNEL=="lcd0", ATTR{brightness}="127"
SUBSYSTEM=="backlight", ACTION=="add", KERNEL=="lcd0", RUN+="/bin/chgrp video /sys/class/backlight/%k/brightness"
SUBSYSTEM=="backlight", ACTION=="add", KERNEL=="lcd0", RUN+="/bin/chmod g+w   /sys/class/backlight/%k/brightness"
